<nav class="navbar">
  <h1>
    <a href="#">Angular+Java Spring</a>
  </h1>
</nav>

<div class="container">

  <form class="card" [formGroup]="form1" (ngSubmit)="addCity()">
    <h2>Siia sisestatakse linna nimi, mille ilma soovitakse</h2>
    <p>Korraga saab sisestada ainult ÜHE linna nimi</p>
    <p>Pärast nupu vajutamist toimub 1) kontroll, kas selline linn eksisteerib; 2) toimub kontroll, kas selle linna
      ilmaandmed juba rekvestitakse;
      3) kui kõik ok, linna nimi salvestatakse tabelisse CITY (tabelis on kõik linnad, mille andmed rekvestitakse) ja
      algab uus thread, mis iga 15 minuti pärast rekvestib selle linna ilmaandmed ja salvestab neid CITY_WEATHER
      tabelisse (kõikide linnade andmed ühte tabelisse)
    </p>
    <p>Kui soovitakse teise linna ilma teada, saab sisestada selle linna nimi ja sama andmebaasi tabelisse uus thread salvestab
      selle linna ilmaandmed</p>

    <input type="text" placeholder="What city weather you wish" formControlName="city"><br>
    <small *ngIf="messageAdd">{{messageAdd}}</small><br>
    <button class="btn" type="submit">Add city</button>
  </form>

  <form class="card" [formGroup]="form2" (ngSubmit)="getAllWeatherData()">
    <h2>Siia vajutades ilmuvad kõik andmebaasis salvestatud andmed</h2>
    <button class="btn" type="submit" (click)="showAllData = true">Show All Data</button>
    <button class="btn" type="button" (click)="showAllData = false">Hide All Data</button>
  </form>

  <table class="center" *ngIf="showAllData">
    <thead *ngIf="weatherData">
    <tr>
      <th>Date&Time</th>
      <th>City</th>
      <th>Temperature, &deg;C</th>
      <th>Wind speed, m/s</th>
      <th>Humidity, %</th>
    </tr>
    </thead>
    <tr *ngFor="let data of weatherData">
      <td>{{data.date}}</td>
      <td>{{data.name}}</td>
      <td>{{data.temp}}</td>
      <td>{{data.wind}}</td>
      <td>{{data.humidity}}</td>
    </tr>
  </table>

  <form class="card" [formGroup]="form3" (ngSubmit)="getCityWeatherData()">
    <h2>Siia sisestatakse linna nimi, mille andmed soovitakse saada andmebaasist</h2>

    <input type="text" placeholder="What city weather data you wish" formControlName="cityShow"><br>
    <button class="btn" type="submit" (click)="showCityData = true">Show City Weather Data</button>
    <button class="btn" type="button" (click)="showCityData = false">Hide City Weather Data</button>

    <table class="center" *ngIf="cityWeatherData.length != 0 && showCityData">
      <thead>
      <tr>
        <th>Date&Time</th>
        <th>City</th>
        <th>Temperature, &deg;C</th>
        <th>Wind speed, m/s</th>
        <th>Humidity, %</th>
      </tr>
      </thead>
      <tr *ngFor="let data of cityWeatherData">
        <td>{{data.date}}</td>
        <td>{{data.name}}</td>
        <td>{{data.temp}}</td>
        <td>{{data.wind}}</td>
        <td>{{data.humidity}}</td>
      </tr>
    </table>
  </form>

  <form class="card" [formGroup]="form4" (ngSubmit)="deleteCityWeatherData()">
    <h2>Siia sisestatakse linna nimi, mille andmed soovitakse kustutada andmebaasist</h2>
    <p>Samas lõpeb ka selle linna andmete pärimine == kustub selle linna ilmaandmete koguv thread</p>

    <input type="text" placeholder="What city weather data you wish delete" formControlName="cityDelete"><br>
    <small *ngIf="messageDelete">{{messageDelete}}</small><br>
    <button class="btn" type="submit">Delete city</button>
  </form>

</div>
